<div id="wrapper" [ngClass]="{ toggled: collapseSideBar }">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a class="navbar-brand" href="/home/dashboard" style="color: white">
        Menú
      </a>
    </div>
    <ul class="sidebar-nav">
      <li class="active">
        <a href="#"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-plug"></i>Plugins</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user"></i>Users</a>
      </li>
    </ul>
  </aside>

  <div id="navbar-wrapper">
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <span
          (click)="collapseSideBar = !collapseSideBar"
          style="cursor: pointer"
          ><i
            class="fa-solid"
            [ngClass]="{
              'fa-angles-left': !collapseSideBar,
              'fa-angles-right': collapseSideBar
            }"
          ></i
        ></span>
        <a class="navbar-brand" href="#">
          <img
            src="../../../assets/utils/dg_logo.svg"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          IFocus
        </a>

        <button type="button" class="btn btn-info">{{ role }}</button>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
